.modalBackdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  z-index: 11;
}

.modalContent {
  position: fixed;
  z-index: 12;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px 40px;
  min-width: 450px;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 1px 3px 10px 0px #787878;
  color: var(--almost-black);
  animation-name: slide-up;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  @keyframes slide-up {
    0% {
      opacity: 0.8;
    }
    100% {
      transform: translate(-50%, -50%);
      opacity: 1;
    }
  }

  .close {
    position: absolute;
    right: 40px;
    cursor: pointer;
    color: #8e8e8e;
  }

  .title {
    font-size: 27px;
    font-family: Rubik;
    font-weight: 600;
  }

  .description {
    font-size: 18px;
    font-family: Nunito;
  }

  .otpScreen {
    padding: 40px 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;

    .submit {
      margin-top: 20px;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .inputContainer {
      border: 1px solid #ccc;
      outline: none;
      font-family: Nunito;
      border-radius: 5px;
      display: flex;
      align-items: center;
      overflow: hidden;

      & > input {
        padding: 10px 15px;
        font-size: 16px;
        border: none;
        outline: none;
        height: 100%;
        width: 100%;
        color: var(--almost-black);
      }

      & > select {
        border: none;
        outline: none;
        padding-left: 10px;
        font-family: Nunito;
        cursor: pointer;
        font-size: 16px;
      }

      .eyeContainer {
        margin-right: 15px;
        height: max-content;
        width: max-content;
        display: flex;
        justify-content: center;

        .eyeIcon {
          color: #7e7e7e;
          font-size: 22px;
          cursor: pointer;
        }
      }
    }

    .terms {
      display: flex;
      align-items: center;
      gap: 10px;
      font-family: Nunito;
      font-size: 15px;

      & > input {
        height: 15px;
        width: 15px;
      }
    }

    .error {
      font-family: Nunito;
      width: 100%;
      text-align: left;
      color: red;
      font-size: 14px;
    }

    & > p {
      align-self: flex-end;
      font-family: Nunito;
      font-weight: 600;
      cursor: pointer;
    }
  }

  .submit {
    height: 48px;
    background: var(--primary-blue);
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    width: 100%;
    padding: 12px;
    font-size: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .signInOptions {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;

    & > p {
      font-size: 18px;
      font-family: Nunito;
      font-weight: 600;
    }

    .socialMedia {
      display: flex;
      align-items: center;
      gap: 20px;

      .imageContainer {
        height: 60px;
        width: 60px;
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;

        & > img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .modalFooter {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    margin-top: 10px;

    .changeForm {
      font-family: Nunito;
      font-size: 18px;
      font-weight: 700;
      width: 100%;
      text-align: center;
      cursor: pointer;
      width: max-content;
      margin: 0 auto;

      &:hover {
        text-decoration: underline;
      }
    }

    & > p {
      font-family: Nunito;
      font-size: 18px;
      font-weight: 500;
    }
  }
}
