.heroCarousel {
  position: relative;
  height: 700px;
  overflow: hidden;

  & > img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  & > button {
    border: none;
    outline: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    display: flex;
    background: rgba($color: #eeeeee, $alpha: 0.2);
    align-items: center;
    justify-content: center;
    color: var(--primary-blue);
    font-size: 30px;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;

    &:hover {
      background: rgba($color: #eeeeee, $alpha: 0.5);
    }
  }

  .leftCaret {
    left: 20px;
  }

  .rightCaret {
    right: 20px;
  }

  .heroContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: max-content;
    width: max-content;

    .heroHeadingContainer {
      .heroHeading {
        color: var(--primary-blue);
        font-family: Nunito;
        font-size: 50px;
        font-weight: 600;
        letter-spacing: 1px;

        & > span {
          font-family: Dancing Script;
          color: var(--primary-red);
        }
      }

      .heroCta {
        color: white;
        font-family: Nunito;
        font-size: 27px;
        font-weight: 600;
        background-color: var(--primary-blue);
        width: max-content;
        padding: 10px 30px;
        border-radius: 5px;
        margin: 20px auto 0;
        cursor: pointer;
      }
    }
  }
}
