.heroWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  padding: 50px 0;

  .infoContainer {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;

    .heading {
      color: var(--primary-blue);
      font-family: Rubik;
      font-size: 50px;
      font-weight: 700;
      letter-spacing: 1px;

      & > span {
        font-family: Dancing Script;
        color: var(--primary-red);
      }
    }

    .description {
      color: #394157;
      font-family: Nunito;
      font-size: 21px;
      font-weight: 300;
      letter-spacing: -0.005em;
      line-height: 29px;
      text-align: left;
    }

    .cta {
      color: white;
      font-family: Nunito;
      font-size: 27px;
      font-weight: 600;
      background-color: var(--primary-blue);
      width: max-content;
      padding: 10px 60px;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      text-align: center;

      &:hover {
        transform: scale(1.03);
      }
    }
  }

  .imageContainer {
    height: 450px;
    width: 550px;
    border-radius: 15px;
    overflow: hidden;
    flex-shrink: 0;

    & > img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}
