.navbar {
  color: #808693;
  background: #ffffff;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  display: flex;
  align-items: center;
  padding: 20px 0 15px;

  @media (max-width: '800px') {
    padding: 20px 30px;
  }

  .hamButton {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in-out;

    .hamLine {
      height: 3px;
      background: var(--almost-black);
      width: 25px;
      margin-bottom: 5px;
      transform-origin: center;

      &:last-child {
        margin: 0;
      }
    }
  }

  .closeState {
    .hamLine:first-child {
      animation-name: rotate-clockwise;
      animation-duration: 0.2s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;

      @keyframes rotate-clockwise {
        100% {
          transform: rotate(45deg) translateX(5.5px);
        }
      }
    }

    .hamLine:nth-child(2) {
      display: none;
    }

    .hamLine:last-child {
      animation-name: rotate-anti-clockwise;
      animation-duration: 0.2s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;

      @keyframes rotate-anti-clockwise {
        100% {
          transform: rotate(-45deg) translateX(5.5px);
        }
      }
    }
  }

  .openState {
    .hamLine:first-child {
      animation-name: rotate-back-anti-clockwise;
      animation-duration: 0.2s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;

      @keyframes rotate-back-anti-clockwise {
        0% {
          transform: rotate(45deg) translateX(5px);
        }
      }
    }

    .hamLine:nth-child(2) {
      display: block;
    }

    .hamLine:last-child {
      animation-name: rotate-back-clockwise;
      animation-duration: 0.2s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;

      @keyframes rotate-back-clockwise {
        0% {
          transform: rotate(-45deg) translateX(5px);
        }
      }
    }
  }

  .hamMenu {
    position: fixed;
    background-color: #fff;
    height: 100vh;
    left: 0;
    padding: 0 30px;
    top: 76px;
    width: 100%;
    overflow: scroll;
    overscroll-behavior: contain;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  .navHeading {
    font-family: 'Lato';
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
  }

  .navItems {
    margin-left: auto;
    display: flex;
    align-items: center;
    list-style: none;
    cursor: pointer;
    gap: 10px;

    & > li {
      font-family: Nunito;
      font-size: 18px;
      padding: 10px;
      text-align: center;
      font-weight: 600;

      @media (max-width: '800px') {
        padding: 10px 0;
      }

      &:hover {
        color: var(--primary-blue);
      }
    }

    @media (max-width: '800px') {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .active {
    color: var(--primary-blue);
    font-weight: 700;
  }

  .signInButton {
    background: var(--primary-blue);
    border: none;
    outline: none;
    color: #ffffff;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 18px;
    margin-left: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: '800px') {
      width: 100%;
      margin: 30px 0;
    }
  }
}
